[profile.default]
src = "src"
out = "out"
libs = ["lib"]
ffi = true
ast = true
build_info = true
extra_output = ["storageLayout"]
solc = "0.8.30"
solc_path = "/usr/bin/solc"

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
